@font-face {
  font-family: cashMoneyFont;
  src: url("../assets/font/One_dance.ttf");
  }

body {
  background-color: rgb(176, 206, 180);
}

#header {
  text-align: center;
  background-image: url("../assets/img/benji.jpg");
  background-size: 100% 100%;
  border: rgb(1, 95, 1) solid 9px;
  color: rgb(174, 224, 174);
}

#header:hover {
  animation:slidebg 100s linear infinite;
}

#header h1 {
  font-weight: normal;
  font-family: cashMoneyFont;
}

.subtle-header {
  font-family: serif;
  font-style: italic;
  color: rgb(172, 172, 172);
}

label {
  margin-bottom: 15px;
}

.btn {
  left: 35%;
  position: relative;
  background-image: url('../assets/img/cash.jpg');
  height: 100px;
  width: 100px;
  font-weight: bolder;
  color: rgb(238, 255, 228);
}

.btn:hover {
  animation:slidebg 1000s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 10000vw;
  }
}

.error-message {
  text-align: center;
  color: crimson;
  font-weight: bolder;
}

.output-card {
  display: none;
  text-align: center;
  padding: 10px;
  background-color: rgb(194, 218, 154);
}

.output-card h1 {
  font-family: cashMoneyFont;
  font-size: 40px;
}

.output-card h2 {
  font-style: italic;
  font-family: serif;
  font-weight: bolder;
  font-size: 40px;
}
.conversion-zone {
  text-align: center;
  font-family: serif;
  font-style: italic;
  display: none;
}

#arrow-img {
  height: auto;
  width: 100%;
}