body {
  background-color: aliceblue;
}

#header {
  text-align: center;
}

.btn {
  left: 50%;
  position: relative;
  background-image: url('../assets/img/cash.jpg');
  height: 100px;
  width: 100px;
  font-weight: bolder;
  color: rgb(238, 255, 228);
}

.btn:hover {
  animation:slidebg 3s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:30vw;
  }
}